@{
    ViewData["Title"] = "Customer Details";
}
<h1>@ViewData["Title"]</h1>

<p>Customer Details</p>
<p>
    @ViewData["id"]
    <br/>
    @ViewData["firstname"]
    <br/>
    @ViewData["lastname"]
</p>
